.app-contextual-menu, #app-modal-menu
{
	position: fixed;
	display: none;
}

.app-contextual-menu {
	box-shadow: 3px 3px 5px rgb(60,60,60);
}
.app-contextual-menu .ui.menu {
	border-radius: 0;
	border: solid 1px silver;
}

/* For worksheet maximized */
.ui.grid.workarea > .column.one .ui.list {
    display: none;
}

.ui.grid.workarea > .column.one .ui.buttons {
    position: fixed;
    z-index: 10;
}

/* Connection identifier */
.ui.grid.workarea > .column.three .ui.list > .item {
    position: relative;
}

.ui.grid.workarea > .column.three .ui.list .connection-id {
    position: absolute;
    bottom: -5px;
    left: 5px;
	-webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

@media (max-width: 720px) {
    .ui.grid.workarea > .column.three {
    	width: auto !important;
    }

    .ui.grid.workarea > .column.three .ui.list .right.floated.content {
        position: absolute;
    }

    .ui.grid.workarea > .column.three .ui.list .content.view {
        display: none;
    }


	/* does .vertical style manually */

	.ui.grid.workarea .ui.buttons {
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}

	.ui.grid.workarea .ui.buttons .button:first-child {
	    border-top-left-radius: .28571429rem;
	    border-top-right-radius: .28571429rem;
	}

	.ui.grid.workarea .ui.buttons .button:last-child {
	    border-bottom-left-radius: .28571429rem;
	    border-bottom-right-radius: .28571429rem;
	}

	.ui.grid.workarea  .ui.buttons .button {
	    display: block;
	    float: none;
	    width: 100%;
	    margin: 0;
	    box-shadow: none;
	    border-radius: 0;
	}
}