.app-contextual-menu, #app-modal-menu
{
	position: fixed;
	display: none;
}

.app-contextual-menu {
	box-shadow: 3px 3px 5px rgb(60,60,60);
}
.app-contextual-menu .ui.menu {
	border-radius: 0;
	border: solid 1px silver;
}

/* For worksheet maximized */
.ui.grid.workarea > .column.one .ui.list {
    display: none;
}